body{
    margin: 0;
    color: #fff;
    background: #1A1A1D;
    overflow-x: hidden;
}

.robotomedium {
    font-family: 'Roboto', sans-serif;
}

.robotoRegular {
    font-family: 'Roboto', sans-serif;
}

